.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #000000;
  padding: 16px;
  height: 130px;
  outline: none;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: transparent;
}

.logo {
  position: absolute;
  left: 64px;
  top: 53px;
  width: 288px;
  height: 67px;
  background-image: url('/assets/jcn_farms_logo_white.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* outline: none;
  border-style: none; */
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: 'NN Nouvelle Grotesk STD';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  position: relative;
  display: flex;
  align-items: center;
  float: center;
  /* color:#fff; */
}

li:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 0;
  transition: all 0.2s ease-in-out;
}

li:hover {
  color: #fff;
}

li:hover:before,
li:focus:before {
  width: 100%;
  color: #fff !important;
}

.active:before {
  width: 100%;
}

li:nth-child(1) {
  color: rgba(0, 0, 0, 0); /* Transparent black color */
  /* color: #fff !important; */
  font-size: 30px;
  font-weight: bold;
  font-family: NN Nouvelle Grotesk STD, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  left: 530px;
  top: 69px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

li:nth-child(2) {
  color: #fff !important;
  font-size: 30px;
  font-weight: bold;
  font-family: NN Nouvelle Grotesk STD, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  left: 707px;
  top: 69px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

li:nth-child(3) {
  color: #fff !important;
  font-size: 30px;
  font-weight: bold;
 

 font-family: NN Nouvelle Grotesk STD, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  left: 902px;
  top: 69px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

li:nth-child(4) {
  color: #fff !important;
  font-size: 30px;
  font-weight: bold;
  font-family: NN Nouvelle Grotesk STD, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  left: 1105px;
  top: 69px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

li:nth-child(5) {
  color: #fff !important;
  font-size: 30px;
  font-weight: bold;
  font-family: NN Nouvelle Grotesk STD, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  left: 1264px;
  top: 69px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.custom-navbar li.active {
  color: green;
}
