.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 16px;
}

.logo {
  position: absolute;
  left: 64px;
  top: 53px;
  width: 288px;
  height: 67px;
  background-image:/* webpackIgnore: true */ url('/assets/jcn_farms_logo_white.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 24px;
  font-family: 'NN Nouvelle Grotesk STD';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
}

li:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #4DAB2D;
  transition: all 0.2s ease-in-out;
}

li:hover:before,
li:focus:before {
  width: 100%;
}

.active:before {
  width: 100%;
}

@media (max-width: 768px) {
  .root {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }
  .logo {
    margin-bottom: 16px;
  }
  li {
    margin-left: 0;
    margin-bottom: 8px;
  }
  li:before {
    bottom: -2px;
  }
}
